/* width */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.body {
    background: url('./resource/bg2.png') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Duru Sans';
}

/*------------ header -----------*/

.header {
    color: aliceblue;
    text-align: right;
    padding-top: 20px;
    /* z-index: 2; */
    width: 100%;
    transition: background-color 1s ease;
}

.header-wrapper {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 2;
    transition: background-color 1s ease;
}

.header-btn {
    padding: 20px;
    color: floralwhite;
    cursor: pointer;
}

.header-btn:hover{
    color: coral;
}

.active {
    border: 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    color: coral;
    transition: all 0.8s ease;
}


.intro-wrapper {
    min-height: 100vh;
    /* padding-top: 19%; */
    color: azure;
    text-align: center;
}

.intro {
    position: absolute;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.intro-top-text {
    display: inline-flex;
    margin: auto;
}

.intro-mid-text {
    font-weight: 700;
    margin-top: 10px;
}

/*------------- about ---------------*/

.about {
    background-color: #f1f1f1;
    /* box-shadow: 0 0 1px 1px aliceblue; */
    position: absolute;
    padding-top: 60px;
    padding-bottom: 60px;
}

.self-card, .objective-card, .skills {
    margin: auto;
    width: 80%;
}

.self-card {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    padding-top: 0px;
    padding-bottom: 0px;
}

.self-card:hover {
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.8);
}

.self-card-container {
    padding: 16px 16px 2px;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    text-align: center !important;
    padding: 12px 0px !important;
    cursor: pointer;
    font-size: 20px;
}

.btn:hover {
    background-color: RoyalBlue;
}

.btn:focus {
    outline: none !important;
    box-shadow: none;
}

.dwn-btn {}

@media screen and (max-width : 700px){
    div.objective-card {
        margin-top: 55px;
    }
}

.objective-card {
    border: 1px solid coral;
    padding: 10px;
    margin-top: 12px;
    text-align: center;
    position: relative;
}

.objective {
    color: coral;
    padding: 0 10px;
    font-size: 20px;
    position: relative;
    top: -24px;
    background-color: #f1f1f1;
}

.corner {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    transform: rotate(-45deg);
    position: absolute;
    background-color: #f1f1f1;
}

#left_top {
    top: -16px;
    left: -16px;
    border-color: transparent transparent coral transparent;
}

#right_top {
    top: -16px;
    right: -16px;
    border-color: transparent transparent transparent coral;
}

#left_bottom {
    bottom: -16px;
    left: -16px;
    border-color: transparent coral transparent transparent;
}

#right_bottom {
    bottom: -16px;
    right: -16px;
    border-color: coral transparent transparent transparent;
}

.objective-text {
    margin-top: -12px;
    /* font-size: 18px; */
    color: black
}

.adress{
    margin-top: 20px;
    background-color: #f1f1f1 !important;
    border: none !important;

}

.address-item {
    border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    -webkit-border-radius: 25px !important;
    padding: 10px;
    height: auto !important;
    border: 1px solid coral;
    background: #f1f1f1 !important;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
}

.skillbar, .address-item {
    position: relative;
    display: block;
    margin-bottom: 15px;
    background: #dadada;
    height: 35px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    background: #6adcfa;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title .skill-name {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 35px;
    line-height: 30px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-bar {
    height: 35px;
    width: 0px;
    background: #6adcfa;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
}

/*------------- work ---------------*/

.work {
    display: inline-block;
    background-color: #f1f1f1;;
}

.project-head{
    border: 1px solid #f1f1f1;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    padding: 20px;
}

.discription{
    padding: 30px;
    text-align: justify;
}

/*------------------- Contact ----------------------*/

.contact {
    margin-top: -10px;
    padding: 60px;
    /* min-height: 100vh; */
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

.contact-container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.contact-container .card {
    position: relative;
    border-radius: 10px;
}

.contact-container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
}

.contact-container .card:nth-child(1) .icon {
    background: #e07768;
}

.contact-container .card:nth-child(2) .icon {
    background: #6eadd4;
}

.contact-container .card:nth-child(3) .icon {
    background: #4aada9;
}

.contact-container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

i {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff; */
}

.contact-container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.contact-container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.contact-container .card:hover .face.face1 {
    background: #ff0057;
    transform: translateY(0px);
}

.contact-container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.contact-container .card:hover .face.face1 .content {
    opacity: 1;
}

.contact-container .card .face.face1 .content i {
    max-width: 100px;
}

.contact-container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.contact-container .card:hover .face.face2 {
    transform: translateY(0);
}

.contact-container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.contact-container .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
}

.contact-container a {
    text-decoration: none;
    color: #414141;
}